* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}
:root {
  --body-color: #efefef;
  --nav-color: #4e5d78;
  --bg-color: #fff;
}
.dark-theme {
  --body-color: #0a0a0a;
  --nav-color: #000;
  --bg-color: #000;
}

body {
  background: var(--body-color);
  transition: background 0.3s;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--nav-color);
  padding: 5px 5%;
  position: sticky;
  top: 0;
  z-index: 100;
}
.logo {
  width: 160px;
  margin-right: 45px;
  color: #efefef;
}
.logo span {
  background-color: #efefef;
  color: #4e5d78;
}
.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}
.nav-left ul li {
  list-style: none;
  display: inline-block;
}
.nav-left ul li img {
  width: 28px;
  margin: 0 15px;
}
.nav-user-icon img {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.search-box {
  background: #efefef;
  width: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.search-box img {
  width: 18px;
}
.search-box input {
  width: 100%;
  background: transparent;
  padding: 10px;
  outline: none;
  border: 0;
}
.nav-user-icon {
  margin-left: 30px;
}
.online {
  position: relative;
}
.online::after {
  content: "";
  width: 7px;
  height: 7px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #41db51;
  position: absolute;
  top: 0;
  right: 0;
}
.load-more-btn {
  display: block;
  margin: auto;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #9a9a9a;
  color: #626262;
  background: transparent;
  border-radius: 4px;
}
.footer {
  text-align: center;
  color: #9a9a9a;
  padding: 10px 0 20px;
  font-size: 13px;
}
.settings-menu {
  position: absolute;
  width: 90%;
  max-width: 350px;
  background: var(--bg-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  overflow: hidden;
  top: 108%;
  right: 5%;
  max-height: 0;
  transition: max-height 0.3s;
}
.settings-menu-height {
  max-height: 450px;
}

.user-profile a {
  font-size: 12px;
  color: #4e5d78;
  text-decoration: none;
}
.settings-menu-inner {
  padding: 20px;
}
.settings-menu hr {
  border: 0;
  height: 1px;
  background: #9a9a9a;
  margin: 15px 0;
}
.settings-links {
  display: flex;
  align-items: center;
  margin: 15px 0;
}
.settings-links .settings-icon {
  width: 38px;
  margin-right: 10px;
  border-radius: 50%;
}
.settings-links a {
  text-decoration: none;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  color: #626262;
}
#dark-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #ddd;
  width: 45px;
  border-radius: 15px;
  padding: 2px 3px;
  cursor: pointer;
  display: flex;
  transition: padding-left 0.5s, background 0.5s;
}
#dark-btn span {
  height: 18px;
  width: 18px;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
}
#dark-btn.dark-btn-on {
  padding-left: 23px;
  background: #666;
}

@media (max-width: 768px) {
  .left-sidebar {
    display: none;
  }
  .search-box {
    display: none;
  }
  .nav-left ul {
    display: none;
  }
  .right-sidebar {
    display: none;
  }
  .main-content {
    width: 100vh;
    margin: 0;
    padding: 0;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  text-align: center;
  color: black;
  border: 1px black;
}
img {
  width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

/****************/
.main-container {
  width: 90vw;
  margin: 0 auto;
  padding: 40px 0;
}
.main-container > h2 {
  text-align: center;
  padding: 10px 0;
  font-size: 32px;
}
.main-container > p {
  font-weight: 300;
  padding: 10px 0;
  opacity: 0.7;
  text-align: center;
}
.category-head {
  margin: 30px 0;
}
.category-head ul {
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.category-title {
  flex: 0 0 calc(16.6667% - 10px);
  display: flex;
  justify-content: center;
  background: #a8a8a8;
  padding: 12px;
  color: #fff;
  margin: 5px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.category-title:hover {
  opacity: 0.7;
}
.category-title li {
  padding: 0 10px;
}
.category-title span {
  color: #222;
}

/** single post **/
.posts-main-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}
.posts-main-container > div {
  box-shadow: 0px 8px 22px -12px rgba(0, 0, 0, 0.64);
}
.post-img {
  position: relative;
}
.category-name {
  position: absolute;
  top: 20px;
  left: 20px;
  text-transform: uppercase;
  font-size: 13px;
  color: #fff;
  padding: 4px 10px;
  border-radius: 2px;
}
.mining .category-name {
  background: #00a7ea;
}
.ingredients .category-name {
  background: #f03250;
}
.furniture .category-name {
  background: #f0544f;
}
.handicraft .category-name {
  background: #2c2a4a;
}
.sports .category-name {
  background: #a1e44d;
}

.post-content {
  padding: 25px;
}
.post-content-top {
  background: #80ced7;
  color: #fff;
  opacity: 0.8;
  padding: 5px 0 5px 15px;
}
.post-content-top span {
  padding-right: 20px;
}
.post-content-top .fa-comment,
.post-content-top .fa-calendar {
  padding-right: 5px;
}
.post-content h2 {
  font-size: 22px;
  padding: 12px 0;
  font-weight: 400;
}
.post-content p {
  opacity: 0.7;
  font-size: 15px;
  line-height: 1.8;
}
.read-btn {
  border: none;
  padding: 8px 15px;
  display: block;
  margin: 5px auto;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  cursor: pointer;
  border: 1px solid #292929;
  background: transparent;
  margin-bottom: 40px;
}

.read-btn:hover {
  background: #f6f6f6;
}

/***************/
@media (max-width: 1170px) {
  .posts-main-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .posts-main-container {
    grid-template-columns: 1fr;
  }
}

/***********/

.active {
  background: #f0544f;
}
